.event {
  width: 1450px;
  margin-top: 10px;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    & > p {
      font-size: 24px;
      font-weight: 700;
      color: var(--primary-color-blue);
      margin-right: 20px;
    }

    & > div {
      flex-grow: 1;
      height: 2px;
      background: var(--primary-color-blue);
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;

    & > .left {
      height: fit-content;
      width: 950px;
      background: var(--white-color);
      border-radius: 10px;
      box-shadow: 0px 3px 6px var(--text-disabled-color-gray);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .background {
        width: 892px;
        height: 354px;
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: var(--base-color-gray);
      }

      & > .name {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 10px 0;

        &::before {
          content: "";
          width: 170px;
          height: 2px;
          background: var(--primary-color-blue);
          border-radius: 2px;
          position: absolute;
          left: 0;
          bottom: -5px;
        }

        & > p {
          font-size: 24px;
          font-weight: 500;
          color: var(--primary-color-blue);
        }

        & > button {
          padding: 8px 20px;
          font-size: 16px;
          font-weight: 500;
          color: var(--white-color);
          background: var(--primary-color-blue);
          border-radius: 20px;
        }
      }

      & > .information {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        opacity: 0.5;

        & > p {
          font-size: 16px;
          font-weight: 700;
          color: var(--primary-color-blue);
        }

        & > div {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background: var(--primary-color-blue);
          margin: 0 10px;
        }
      }

      & > .description {
        width: calc(100% - 40px);
        margin-left: 40px;
        padding-left: 20px;
        border-left: 2px solid var(--primary-color-blue);
        margin-top: 10px;
      }
    }

    & > .right {
      flex-grow: 1;
      max-height: 920px;
      text-align: center;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      & > .standee {
        width: 456px;
        min-height: 709px;
        border-radius: 10px;
        background-position: center !important;
        background-repeat: no-repeat;
        background: var(--white-color);
        background-size: cover !important;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 3px 6px var(--text-disabled-color-gray);
      }

      & .fb-page {
        border-radius: 10px;
        overflow: hidden;
        background: var(--white-color) !important;
        box-shadow: 0px 3px 6px var(--text-disabled-color-gray);
      }

      & > .mini-game {
        width: 456px;
        border-radius: 10px;
        background: var(--white-color);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        box-shadow: 0px 3px 6px var(--text-disabled-color-gray);
        padding: 20px;
        margin-bottom: 10px;
        position: relative;

        & > .header {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          & > p {
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-color-blue);
          }

          & > button {
            font-size: 16px;
            color: var(--white-color);
            background: var(--primary-color-blue);
            padding: 8px 20px;
            border-radius: 10px;
            margin: 0;
          }
        }

        & > .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px;

          & > .top3 {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            & > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 10px;

              & > .avatar {
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background: var(--primary-color-blue);
              }

              & > p {
                font-weight: 700;
              }
            }

            & > .no1 {
              & > .avatar {
                width: 114px;
                height: 114px;
              }

              & > p.point {
                font-size: 24px;
              }

              & > p.name {
                font-size: 18px;
              }
            }

            & > .no2 {
              & > .avatar {
                width: 86px;
                height: 86px;
              }

              & > p.point {
                font-size: 18px;
              }

              & > p.name {
                font-size: 16px;
              }
            }

            & > .no3 {
              & > .avatar {
                width: 86px;
                height: 86px;
              }

              & > p.point {
                font-size: 18px;
              }

              & > p.name {
                font-size: 16px;
              }
            }
          }

          & > .player {
            width: 100%;
            padding: 20px 0;

            & > .row {
              width: 100%;
              display: flex;
              flex-direction: row;
              font-size: 16px;
              height: 30px;
              align-items: center;

              &.highline {
                background: var(--primary-color-blue-50);
              }

              & > .stt {
                width: 55px;
              }

              & > .name {
                flex-grow: 1;
                text-align: left;
              }

              & > .point {
                width: 75px;
                font-weight: 700;
              }
            }
          }
        }

        // &::before{
        //     content: "";
        //     height: 3px;
        //     width: 60%;
        //     background: var(--primary-color-blue-50);
        //     border-radius: 2px;
        //     position: absolute;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     bottom: 20px;
        // }
      }
    }
  }
}
