.list-events-horizontal {
  & > .scroll-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.4s ease-in-out;
  }

  & > .position-scroll-bar {
    height: 4px;
    width: 100%;
    margin-top: 10px;
    background: var(--base-color-gray);
    background-image: linear-gradient(
      to right,
      var(--primary-color-blue),
      var(--primary-color-blue)
    );
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    transition: background-size 0.02s ease-in-out;
  }
}
