.u-section-1 .u-sheet-1 {
    min-height: 559px;
  }
  
  .u-section-1 .u-image-1 {
    width: 1087px;
    height: 354px;
    margin: 25px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 25px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 12px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 511px;
    }
  
    .u-section-1 .u-image-1 {
      width: 940px;
      height: 306px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 439px;
    }
  
    .u-section-1 .u-image-1 {
      width: 720px;
      height: 234px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 381px;
    }
  
    .u-section-1 .u-image-1 {
      width: 540px;
      height: 176px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 316px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 111px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 591px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 3.75rem;
    margin: 4px auto 0;
  }
  
  .u-section-2 .u-gallery-1 {
    height: 430px;
    width: 892px;
    margin: 43px auto;
  }
  
  .u-section-2 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
  }
  
  .u-section-2 .u-carousel-item-1 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-2 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-control-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    top: 117px;
  }
  
  .u-section-2 .u-carousel-control-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 117px;
    left: auto;
    right: 10px;
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-gallery-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-gallery-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-2 .u-gallery-1 {
      width: 340px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 715px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 3.75rem;
    margin: 7px auto 0;
  }
  
  .u-section-3 .u-group-1 {
    width: 1056px;
    min-height: 590px;
    height: auto;
    margin: 17px auto 30px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-3 .u-table-1 {
    width: 1012px;
    margin: 0 auto;
  }
  
  .u-block-38ed-7 {
    background-image: none;
  }
  
  .u-section-3 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-5 {
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-9 {
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-13 {
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-17 {
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-21 {
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-25 {
    background-image: none;
  }
  
  .u-section-3 .u-table-cell-29 {
    background-image: none;
  }
  
  .u-block-38ed-34 {
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-group-1 {
      width: 940px;
      height: auto;
    }
  
    .u-section-3 .u-table-1 {
      width: 940px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-group-1 {
      width: 720px;
    }
  
    .u-section-3 .u-table-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-group-1 {
      width: 540px;
    }
  
    .u-section-3 .u-table-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-group-1 {
      width: 340px;
    }
  
    .u-section-3 .u-table-1 {
      width: 340px;
    }
  }