.event-studio {
  &__title {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;

    & > h1 {
      width: fit-content;
      text-transform: uppercase;
      font-size: 24px!important;
      font-weight: 700!important;
      color: var(--primary-color-blue);
      line-height: 37px!important;
    }

    & > .event-studio-icon {
      display: block;
      height: 37px;
      width: 37px;
      min-width: 37px;
      background: var(--primary-color-blue);
      border-radius: 10px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 10px;
    }
  }

  &__content{
      width: 100%;
  }
}
