.event-editor {
  width: 1450px;
  height: 736px;
  border-radius: 10px;
  background: var(--white-color);
  box-shadow: 0px 3px 6px var(--text-disabled-color-gray);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__title {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    background: var(--primary-color-blue);

    & > input {
      font-size: 18px;
      font-weight: 600;
      color: var(--white-color);
      border: none;
      background: transparent;
      outline: none;
      border-bottom: 1px solid transparent;
      transition: all 0.2s linear;

      &:focus {
        outline: none;
        border-color: var(--white-color);
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--base-color-gray);
        font-weight: 500;

        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-weight: 500;
        color: var(--base-color-gray);
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        font-weight: 500;
        color: var(--base-color-gray);
      }
    }
  }

  &__content {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;

    & > .progress {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: var(--primary-color-blue);
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 20px;
      position: relative;

      &::before {
        content: "";
        height: 4px;
        width: 100%;
        background: var(--base-color-gray);
        border-radius: 2px;
        position: absolute;
        bottom: -15px;
        left: 0;
        background-image: linear-gradient(
          to right,
          var(--primary-color-blue),
          var(--primary-color-blue)
        );
        background-repeat: no-repeat;
        background-position: left;
        background-size: var(--value);
        overflow: hidden;
        transition: background-size 0.4s ease-in-out;
      }
    }

    & > .main-content {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      & > .editor-content {
        width: 300%;
        height: 100%;
        display: flex;
        flex-direction: row;
        transition: all 0.5s ease-in-out;
        margin-left: calc(100% * var(--position));

        & > .part {
          height: 100%;
          width: calc(100% / 3);
          padding: 5px;
          overflow: hidden;
        }

        & > .part-upload-file {
          display: flex;
          flex-direction: row;
          padding-top: 10px;

          & > .cover {
            width: 950px;
            position: relative;
            padding-left: 20px;

            &::before {
              content: "";
              height: 80%;
              width: 2px;
              background: var(--base-color-gray);
              border-radius: 10px;
              position: absolute;
              right: 0;
              top: 10%;
            }

            & > .cover-view {
              width: 892px;
              height: 354px;
              border-radius: 10px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              margin-top: 20px;
            }
          }

          & > .standee {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > .standee {
              width: 228px;
              height: 354px;
              border-radius: 10px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              margin-top: 20px;
            }
          }
        }

        & > .part-description {
          display: flex;
          flex-direction: row;

          & > .description {
            width: 755px;
            padding: 10px;

            & > p {
              font-size: 16px;
              font-weight: 500;
              color: var(--primary-color-blue);
              margin-bottom: 10px;
            }

            & > .fr-box {
              height: 430px;
              width: 100%;
              border: none;
              display: flex;
              flex-direction: column;

              & > .fr-wrapper {
                height: auto;
                flex-grow: 1;
                overflow-x: hidden;
                overflow-y: scroll;
              }
            }
          }

          & > .information {
            flex-grow: 1;
            padding: 10px;

            & button {
              visibility: hidden;
            }

            & .title-container {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            }

            & p.label-field {
              font-size: 16px;
              font-weight: 500;
              color: var(--primary-color-blue);
            }

            & .date-label {
              font-size: 16px;
              font-weight: 500;
              padding-left: 10px;
              padding-right: 10px;
              min-width: 90px;
              line-height: 40px;
              border-left: 2px solid var(--text-disabled-color-gray);
            }
          }
        }
        & > .part-mini-game {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          & > p {
            font-size: 18px;
            font-weight: 700;
            color: var(--primary-color-blue);
          }

          & > .scroll-horizontal-mini-game {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            overflow-y: hidden;
            overflow-x: auto;
            transition: all 0.4s ease-in-out;

            & > .mini-game-box {
              height: 325px;
              min-width: 440px;
              border-radius: 10px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              border: 2px solid #9BC6CE;
              opacity: 0.5;

              &.active{
                border: 2px solid var(--primary-color-blue);
                opacity: 1;
              }

              & > p {
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 3px 6px var(--text-disabled-color-gray);
                background: var(--base-color-gray);
                color: var(--primary-color-blue);
                font-size: 18px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    & > .control-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px;

      & > button {
        padding: 10px 20px;
        border-radius: 10px;
        background: var(--primary-color-blue);
        color: var(--white-color);
        font-size: 18px;
        font-weight: 500;
        margin: 0 10px;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }
}
