.event-box {
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 10px;
  margin-right: 10px;
  text-align: left;

  &__thumbnail {
    padding-bottom: 20px;

    & > .thumbnail {
      width: 250px;
      height: 387px;
      background: var(--base-color-gray);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      position: relative;

      &::before {
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border-radius: 10px;
        border: 2px solid var(--primary-color-blue);
        opacity: 0;
        transition: all 0.2s linear;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }

      & > .avatar_host {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--base-color-gray);
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid var(--white-color);
        background-size: cover;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
    }
  }

  &__information {
    width: 340px;
    height: 387px;
    padding-left: 15px;
    position: relative;

    & > .title {
      font-size: 20px;
      margin-bottom: 5px;
    }

    & > .description {
      font-style: italic;
      margin-left: 10px;
      border-left: 4px solid var(--text-disabled-color-gray);
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    & > .detail {
      & > p {
        margin: 5px 0;
      }

      & span {
        color: var(--text-system-color-gray);
      }

      & > .subscribers {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-left: 10px;

        & > div {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 2px solid var(--white-color);
          position: relative;
          margin-left: -10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        & > .total {
          background: var(--primary-color-blue);
          color: var(--white-color);
          font-size: 14px;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    & > button {
      position: absolute;
      left: 10px;
      bottom: 0;
      transition: all 0.2s linear;
    }

    & > button.error {
      color: var(--error-color);
      font-weight: 700;
      padding: 5px 8px;
      border: 1px solid var(--error-color);

      &:hover {
        background: var(--error-color);
        color: var(--white-color);
      }
    }

    & > button.primary {
      color: var(--primary-color-blue);
      font-weight: 700;
      padding: 5px 8px;
      border: 1px solid var(--primary-color-blue);

      &:hover {
        background: var(--primary-color-blue);
        color: var(--white-color);
      }
    }
  }
}
