.Account-detail{
    height: 100%;
    min-width: 1450px;
    width: 1450px;
    display: flex;
    flex-direction: row;
}

.Account-detail h4{
    font-weight: 600;
}

.Account-detail .Sidebar{
    background: var(--base-color-gray);
    width: 230px;
    min-width: 230px;
    padding-right: 20px;
}

.Account-detail .Container{
    flex-grow: 1;
    height: fit-content;
    background: var(--white-color);
    box-shadow: 0px 3px 6px var(--box-shadow-gray);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.Account-detail .Sidebar .Title{
    margin-bottom: 10px;
}

.Account-detail .Sidebar ul li{
    cursor: pointer;
}

.Account-detail .Sidebar ul li button{
    padding: 10px 15px;
    border-radius: 30px;
    width: fit-content;
    color: "#FFF";
    margin: 0;
}

.Account-detail .Sidebar ul li.active button{
    background: var(--primary-color-blue);
    color: var(--white-color);
    font-weight: 600;
}

.Account-detail .Sidebar ul li button:hover{
    filter: brightness(90%);
}

.Account-detail .Container{
    padding: 35px 50px;
}

.Account-detail .Container__header{
    margin-bottom: 10px;
}

.Account-detail .Container__header h3{
    font-weight: 600;
}

.Account-detail .Container__body .Avatar__content div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Account-detail h4{
    margin-bottom: 5px;
}

.Account-detail .Container__body .Avatar__content .Avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.Account-detail .border-bottom{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color-gray);
    margin-bottom: 10px;
}

.Account-detail .Container__body .Information__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Account-detail .Container__body .Information__input{
    width: 400px;
    margin-bottom: 10px;
}

.Account-detail .Container__body .Information__input.short{
    width: 120px;
}

.Account-detail .Container__body .Information__input.short .Input-detail{
    display: none;
}

.Account-detail .Container__body .Input-detail{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
}

.Account-detail .Container__body .Information__input div{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.Account-detail .Container__body .Information__input input{
    border: 2px solid var(--border-color-gray);
    padding: 6px 10px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    transition: border 0.3s linear;
    font-size: 1rem;
}

.Account-detail .Container__body .Information__input input:disabled{
    color: var(--text-disabled-color-gray);
}

.Account-detail .Container__body .Information__input input:focus{
    border-color: var(--primary-color-blue);
}

.Account-detail .Container__body .Linked-account{
    width: 100%;
}

.Account-detail .Container__body .Linked-contact{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.Account-detail .Container__body .Linked-contact .icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
}

.Account-detail .Container__body .Linked-contact div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Account-detail .Container__footer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.Account-detail .Container__footer button{
    margin-right: 0;
}