* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  text-align: center;
  border: 0;
  width: auto;
  cursor: pointer;
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --base-color-gray: #f3f3f3;
  --primary-color-blue: #348b9c;
  --primary-color-blue-20: rgb(52 139 156 / 0.2);
  --white-color: #fff;
  --box-shadow-gray: rgb(57 71 106 / 0.16);
  --border-color-gray: #f3f3f3;
  --text-disabled-color-gray: #b9b9b9;
  --text-system-color-gray: #7e7e7e;
  --error-color: #ff5700;
  --base-color-gray-2: #ebebeb;
  --primary-color-blue-50: #d8e9ec;
}

.Body {
  width: 100%;
  height: 100%;
  /* padding: 10px 0; */
  background: var(--base-color-gray);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body > div {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

button.btn-outline {
  color: var(--primary-color-blue);
  padding: 8px 15px;
  font-weight: 500;
}

button.btn-contained {
  background: var(--primary-color-blue);
  padding: 8px 15px;
  color: var(--white-color);
  font-weight: 500;
}
